body {
    background-color: antiquewhite;
}

#title {
    text-align: center;
}

#calculator {
    margin: 50px auto;
    background-color: rgb(95, 95, 95);
    border: 10px solid black;
    border-radius: 20px;
    width: 400px;
    height: auto;
}

#display {
    background-color: rgb(211, 211, 211);
    font-size: 60px;
    text-align: right;
    padding: 20px 20px 5px 20px;
    word-wrap: break-word;
}

#keypad {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

#keypad button {
    padding: 10px;
    font-size: 40px;
}

#equals{
    grid-column: 5/6;
    grid-row: 3/5;
    background-color: sandybrown;
}

#clear {
    grid-column: 4/6;
    background-color: rgb(224, 0, 0);
}

.operator {
    background-color: skyblue;
}

#zero {
    grid-column: 1/4;  
}